D:\Tutorials\DataValidation\Common\bin
D:\Tutorials\DataValidation\Common\obj
D:\Tutorials\DataValidation\DataValidation\DataVal\bin
D:\Tutorials\DataValidation\DataValidation\DataVal\obj
D:\Tutorials\DataValidation\DatValApi\bin
D:\Tutorials\DataValidation\DatValApi\obj